<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="conlon.cloud.auth.dao.SysUserDao">


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                id, user_name, user_code, nick_name, created_time, created_user_id, created_user_name, modified_time, modified_user_id, modified_user_name, is_deleted, status, remarks
    </sql>

    <insert id="isInsert">
           INSERT INTO `partner_dev`.`pet_bs_every_day` (
                `pet_day_title`,
                `pet_day_remark`,
                `pet_car_id`,
                `create_time`,
                `update_time`,
                `pet_day_status`
            )
            VALUES
                (
                    '测试oss',
                    '我是测试oss的呀',
                    '4',
                    '2019-07-23 10:35:20',
                    '2019-07-23 10:35:20',
                    '20'
                );


    </insert>
</mapper>
